:root {
    --body-background: linear-gradient(to bottom, #fff 11rem, #f0f9f9 17rem);
    --black: #222;
    --yellow: #ffd977;
    --brown: #b5460f;
    --green: #177;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--black);
}

body {
    background: var(--body-background);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h2>a {
    font-size: 38px;
    display: inline-block;
    margin: 20px 0px;
    border-bottom: 3px solid var(--yellow);
    transition: all .3s;
    text-decoration: none;
}

h2>a::after {
    content: '→';
    color: var(--green);
}

h2>a:hover {
    border-bottom: 3px solid var(--brown);
}

h2>a:hover::after {
    color: var(--brown);
}

.card {
    background-color: white;
    margin: 10px;
    transition: all .3s;
}

.card:hover {
    box-shadow: 7px 8px 0px -1px var(--yellow);
    -webkit-box-shadow: 7px 8px 0px -1px var(--yellow);
    -moz-box-shadow: 7px 8px 0px -1px var(--yellow);
}

.card-image {
    overflow: hidden;
}

.card-image img {
    width: 100%;
    display: block;
}

.card-body {
    padding: 10px;
}

.card-body h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--brown);
}

.card-body h3 {
    font-size: 32px;
    padding: 10px 0px;
}

.card-body .time-ratings {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .time-ratings i {
    color: var(--green);
}

/* HEADER */
header {
    width: 100%;
    height: 77px;
    padding: 0 30px;
    border-bottom: 1px solid var(--yellow);

    display: grid;
    grid-template-columns: 220px 1fr 100px;
    align-items: center;
}

header .logo {}

header nav {}

header nav ul,
header .favicon-search ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 0 10px;
}

header nav a {
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover {
    border-bottom: 3px solid var(--yellow);
}

header nav li.has-submenu a::after {
    /* content: '->'; */
}

header nav ul li ul {
    display: none;
}

header .favicon-search li:first-child {
    color: var(--brown);
}

header .favicon-search a {
    font-weight: normal !important;
}

header .favicon-search li {
    padding-left: 15px;
}

header .favicon-search i {
    font-size: 24px;
}

header .favicon-search i {
    color: #666;
}

header .favicon-search a i {
    color: var(--brown);
}

/* MAIN */
main {
    height: calc(100vh - 78px);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

main .todays-recipe {
    background: var(--yellow);
    background-image: url('../img/main-bg-image.webp');
    background-size: cover;
    height: calc(100vh - 78px);
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-end;
}

main .recipe-sugesstions {
    height: calc(100vh - 78px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--body-background);
}

main .box {
    width: 60%;
    overflow: hidden;
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
}

main .box-title {
    width: 90px;
    line-height: 24px;
    color: var(--brown);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -45px;
    background-color: rgb(255, 255, 255, 0.7);
}

main .box-body {
    border: 2px solid var(--yellow);
    padding: 30px;
    text-align: center;
}

main .box-body h2 {
    font-size: 48px;
}

main .box-body p {
    padding: 20px 0px;
    line-height: 28px;
}

main .box-body a {
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
}

main .box-body a:hover {
    text-decoration: underline;
}

main .box-body a i {
    color: var(--brown);
    padding-left: 6px;
}

main .receipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* BLOG */
section.blog {
    padding: 70px 0px;
}

section.blog h2,
section.receipes .category h2 {
    text-align: center;
}

section.blog .articles,
section.receipes .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* TEAM */
section.team {
    background-color: white;
    padding: 70px 0px;
}

section.team .container {
    background-image: url('../img/team-bg-image.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom right;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 40px;
}

section.team .about-us {}

section.team .about-us img {}

section.team .about-us h2 {
    font-size: 48px;
    margin: 30px 0;
}

section.team .about-us p {
    line-height: 24px;
}

section.team .about-us a {
    width: 145px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 35px;
    background-color: rgba(255, 196, 161, .8);
}

section.team .about-us a i {
    color: var(--brown);
}

section.team .about-us h2 span {
    display: block;
}

section.team .members {
    width: 100%;
    height: 430px;
    background-color: rgba(255, 196, 161, .4);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

section.team .members a {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

section.team .members img {
    width: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid var(--green);
}


section.team .members span.fullname {
    color: #004d4d;
    display: inline-block;
    margin: 10px 0px 5px;
}


section.team .members span.role {
    color: var(--green);
}

/* receipes */
section.receipes {
    padding: 20px 0px 70px 0px;
}

section.receipes .category {
    padding-top: 50px;
}

/* FOOTER */
footer {
    padding: 70px 0px;
    background-color: white;
    border-top: 1px solid var(--yellow);
}

footer .container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    line-height: 24px;
}

footer ul a {
    text-decoration: none;
}

footer div.menu a {
    font-weight: bold;
    color: var(--green);
}

footer .newsletter {
    width: 350px;
}


footer .newsletter h3 {
    font-size: 24px;
    line-height: 36px;
}

footer .newsletter p {}

footer .newsletter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

footer .newsletter input {
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 8px;
}

footer .newsletter button {
    padding: 8px;
    color: white;
    border-radius: 3px;
    border: 0px;
    margin-left: 10px;
    background-color: var(--green);
}

footer .social-media ul {
    width: 320px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

footer .social-media ul li span {
    line-height: 34px;
}

footer .social-media ul li a {
    color: white;
    background-color: var(--brown);
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

footer .social-media ul li a i {
    color: white;
}